<ion-header>
  <ion-toolbar>
    <img src="assets/img/agregar-usuario.png" alt="Logo" class="imagen-logo">
    <ion-title class="fuente-titulo">Asistencia</ion-title>

    <ion-icon class="LogOut" name="log-out-outline"  slot="end" (click)="logout()">
          
    </ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>

    <ion-row class="header-row">
      <ion-col size="2"><strong>Asignaturas</strong></ion-col>
      <ion-col size="1"><strong>Lunes</strong></ion-col>
      <ion-col size="1"><strong>Martes</strong></ion-col>
      <ion-col size="1"><strong>Miércoles</strong></ion-col>
      <ion-col size="1"><strong>Jueves</strong></ion-col>
      <ion-col size="1"><strong>Viernes</strong></ion-col>
      <ion-col size="1"><strong>Sábado</strong></ion-col>
      <ion-col size="2"><strong>Días Ausentes</strong></ion-col>
      <ion-col size="2"><strong>Asistencias</strong></ion-col>
    </ion-row>

    <ion-row class="data-row">
      <ion-col size="2">Matemáticas</ion-col>
      <ion-col size="1">P</ion-col>
      <ion-col size="1">P</ion-col>
      <ion-col size="1">A</ion-col>
      <ion-col size="1">P</ion-col>
      <ion-col size="1">P</ion-col>
      <ion-col size="1">A</ion-col>
      <ion-col size="2">2</ion-col>
      <ion-col size="2">4</ion-col>
    </ion-row>

    <ion-row class="data-row">
      <ion-col size="2">Física</ion-col>
      <ion-col size="1">P</ion-col>
      <ion-col size="1">A</ion-col>
      <ion-col size="1">P</ion-col>
      <ion-col size="1">P</ion-col>
      <ion-col size="1">A</ion-col>
      <ion-col size="1">P</ion-col>
      <ion-col size="2">2</ion-col>
      <ion-col size="2">4</ion-col>
    </ion-row>

    <ion-row class="data-row">
      <ion-col size="2">Química</ion-col>
      <ion-col size="1">A</ion-col>
      <ion-col size="1">P</ion-col>
      <ion-col size="1">P</ion-col>
      <ion-col size="1">A</ion-col>
      <ion-col size="1">P</ion-col>
      <ion-col size="1">P</ion-col>
      <ion-col size="2">2</ion-col>
      <ion-col size="2">4</ion-col>
    </ion-row>

    <ion-row class="data-row">
      <ion-col size="2">Historia</ion-col>
      <ion-col size="1">A</ion-col>
      <ion-col size="1">P</ion-col>
      <ion-col size="1">P</ion-col>
      <ion-col size="1">A</ion-col>
      <ion-col size="1">P</ion-col>
      <ion-col size="1">P</ion-col>
      <ion-col size="2">2</ion-col>
      <ion-col size="2">4</ion-col>
    </ion-row>

      <ion-row class="data-row">
        <ion-col size="2">Inglés</ion-col>
        <ion-col size="1">A</ion-col>
        <ion-col size="1">P</ion-col>
        <ion-col size="1">P</ion-col>
        <ion-col size="1">A</ion-col>
        <ion-col size="1">P</ion-col>
        <ion-col size="1">P</ion-col>
        <ion-col size="2">2</ion-col>
        <ion-col size="2">4</ion-col>
      </ion-row>

      <ion-row class="data-row">
        <ion-col size="2">Educación Física</ion-col>
        <ion-col size="1">A</ion-col>
        <ion-col size="1">P</ion-col>
        <ion-col size="1">P</ion-col>
        <ion-col size="1">A</ion-col>
        <ion-col size="1">P</ion-col>
        <ion-col size="1">P</ion-col>
        <ion-col size="2">2</ion-col>
        <ion-col size="2">4</ion-col>
      </ion-row>

    

  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title></ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="menu"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
