<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <img src="assets/img/agregar-usuario.png" alt="Logo" class="imagen-logo">
    <ion-title class="fuente-titulo">
      ‎ ‎ RegisApp
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="change-password-card">
    <ion-card class="Container-In">
      <ion-card-header>
        Cambiar Contraseña
      </ion-card-header>
      <ion-card-content class="Container-In">
        <form (ngSubmit)="changePassword()">
          <ion-input
            [(ngModel)]="currentPassword"
            [type]="passwordType"
            placeholder="‎ Contraseña actual"
            label="‎ Ingrese su contraseña actual"
            labelPlacement="floating"
            name="currentPassword"
            required
          ></ion-input>
          <ion-input
            [(ngModel)]="newPassword"
            [type]="passwordType"
            placeholder="‎ Nueva contraseña"
            label="‎ Ingrese su nueva contraseña"
            labelPlacement="floating"
            name="newPassword"
            required
          ></ion-input>
          <ion-input
            [(ngModel)]="confirmPassword"
            [type]="passwordType"
            placeholder="‎ Confirmar contraseña"
            label="‎ Confirme su nueva contraseña"
            labelPlacement="floating"
            name="confirmPassword"
            required
          ></ion-input>

          <ion-button expand="block" type="submit">
            Cambiar Contraseña
          </ion-button>
        </form>
      </ion-card-content>
    </ion-card>
  </ion-card>
</ion-content>
