.page-login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #333;
  
}
.login-card {
  width: 100%;
  max-width: 400px;
  padding: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0);
  border-radius: 12px;
  background-color: #2500a17d;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.imagen-logo {
  left: 5px;
  width: 30px;
  height: 30px;
  position: absolute;
}

.login-card-header {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
  background-color: #333;
}

ion-label {
  width: 10px;
  color: #ffffff;
  font-size: 20px;
  line-height: 1.5;
  transition: none; 
}

ion-item {
  margin-bottom: 15px;
}

ion-input {
 width: 338px;
  min-height: 35px;
  color: hsl(0, 0%, 0%);
  font-size: 18px;
  background-color: #fcfcfc;
  border-radius: 6px;
  
}

.eye{
height: 20px;
width: 20px;
margin-right: 100px;

margin-left: 100px;
}

ion-checkbox {
  size: 20px;
  margin-right: 10px;
}

ion-item {
  margin-top: 10px;
  background-color: #333;
}

ion-button {
  margin-top: 20px;
  border-radius: 8px;
  box-shadow: none;
}

ion-button[color="medium"] {
  margin-top: 10px;
  background: #f4f4f9;
  color: #333;
  border-radius: 8px;
  box-shadow: none;
  border: 1px solid #ccc;
}

ion-button {
  width: 100%;
}

.alert-message {
  color: #f44336;
}

.Container-In{
background-color: #333;
}

ion-content {
  --background: transparent !important;
}

.fuente-titulo{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font: optional;
  font-size: 20px;
  font-weight: bolder;
  color: #ffffff;
  position: relative;
  left: 5px;
}


:host {
  background-image: url(../../assets/img/Fondo_pagina.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

ion-header {
  --background: #0a0c3d;
}

ion-toolbar {
  --background: #0a0c3d;
}